
/* Überschriften */
h1 {
    color: #1f410b;
    text-align: center;
}

h2 {
    padding-top: 20px;
    color: #533627;
    text-align: center;
}

h3 {
    color: #1f410b;
    text-align: center;
}

h4 {
    padding-left: 60px;
    color: #533627;
    font-size: 16pt;
}

p, /*damit übernimmt es die Formatierung für alle Textparts auf allen drei HTML-Seiten */
ul {
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    font-style: normal;
    color: whitesmoke;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-left: 60px;
    hyphens: auto;/*automatische Silbentrennung, mit komischen trennungen.*/
}

ul {
    padding-left: 80px;
}

footer {
    margin: auto;
    color: #1f410b;
    text-align: center;
}

/* Body */
body {
    /* max-width: 100%; /*banner und website auf full screen */
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #7c7878;
}

/*am ende löschen was hier nicht mehr gebraucht wird:*/
/* Bannerfoto */
.banner {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 0mm;
}

/* Beschriftung Banner mit Quelle
#figcapt {
    background-color: #576b59;
    color: #1f410b; Kommentar: gleiche Farbe wie der restl. hintergrund
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: right;
} */

/*Footer Text oberhalb Menuleiste*/
#weiter {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    font-style: normal;
    color: whitesmoke;
}

/*Text in der Menüleisteim Header und Footer mit der ID, damit es nur dafür verwendet wird*/ 
#textmenu {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    vertical-align: auto;
    background-color: #576b59; /*gleiche wie bei banner quelle */
    justify-content: space-around;
    padding-bottom: 1em;
    padding-top: 1em; /*größe der grünen box mit padding */
 }

/*Farbe für Links zu den anderen Seiten & Quellen*/
a:link,
a:visited {
    color: #b7c4b8; /*damit Linkfarbe gleich bleibt, auch beim Anklicken */
}
p a:link,
p a:visited,
a:visited,
a:link {
    color: #b7c4b8;
}

/*Quellenangaben bearbeiten: */
#myDropdown a:link,
#myDropdown a:visited {
    color: whitesmoke;
    font-size: 10pt;
    /*text-decoration: none; /*damit werden links nicht mehr unterstrichen, falls man das will */
}

/* Fotoboxen */
.imageround {
    border-radius: 50%;
}

.flex {
    display: flex;
    flex-wrap: nowrap; /*alle sind in einer zeile */
    justify-content: space-around; /*elemente haben gleiche Abstände um sich herum */
}

.boxperson {
    margin: 1.0em;
    /*Rahmen für die Box in denen Fotos sind könnte man mit border einstellen border: solid 1px #2f3a2e */
    padding: 3em 3.5em;
    background-color: #576b59;
    vertical-align: auto;
}

/*Danke Bild */
.danke {
    display: flex;
    border-radius: 50%; /*bild wird "rund"*/
    margin: auto; /*bild wird mit display u margin zentriert */
}


/* Allgemeines */

/* Einrücken von Seitenrand! */
.mr-5 {
    margin-right: 3em;
}
.ml-5 {
    margin-left: 3em;
}

/* REGION KARTE */
#overviewmap {
    height: 500px;
    width: 70%;
    margin: auto;
    border: 1px solid #2f3a2e;
}

/* ERGEBNISSE KARTE */
#map {
    height: 500px;
    width: 70%;
    margin: auto;
    border: 1px solid #2f3a2e;
}
.textkarte {
    margin: auto;
    width: 70%;
}

/* ******* ******** ********* *********** ******** ************** */
/*Bildschirmeinstellung für kleinere Bildschirme */
@media screen and (max-width:900px) {
    /*HEADER Titel noch anpassen */


    /*Bilder*/
    .danke {
        width: 100%;
    };

    header img .banner {
        width: 100vw;
    };

    /*Fotoboxen und Menu */
    .boxperson {
        flex-wrap: wrap;
        width: 100%;
    }

    #textmenu {
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    .flex {
        flex-wrap: wrap;
        margin: auto;
        width: 90%;
    }

    /*Titel und Text*/
    h4,
    body p {
        padding-left: 5mm;
        padding-right: 5mm;
    }
    .textkarte {
        margin-left: 0;
        margin-right: 0;
    }
    ul {
        padding-left: 50px;
    }

    /*Karten */
    #map,
    #overviewmap {
        width: 90%;
        margin: center;
    }

    /*Dropdownmenu*/
    .dropbtn {
        display: block; /*Quellenbox mittig */
    }

    .dropdown-content {
        left: 0; /*damit es nicht mehr über den bildschirmrand hinausgeht. */
        right: 0;
    }

    #myDropdown a:link,
    #myDropdown a:visited {
        left: 0;
        right: 0;
    }
}

@media screen and (max-width: 1280px) {
    header img .banner {
        width: 100vw;
    }
}

@media screen and (max-width: 2280px) {
    /*TEXT FÜR GROSSE BILDSCHIRME nicht so auseinander ziehen */
    ul {
        width: 75%;
        margin: auto;
    }
    p {
        width: 80%;
        margin: auto;
    }
    h3,
    h4 {
        width: 85%;
        margin: auto
    }
}
/* ***** ********* ************ ************** ************* ************** */


/*Dropdown Button+Menü für Quellenverzeichnis */
.dropbtn {
    background-color: #576b59; /* Farbe wie footer*/
    border: 1px solid;
    border-color: grey;
    font-size: 20px;
    text-align: center; /*text zentriert */
    padding-top: 10px; /*größe der box */
    padding-bottom: 10px;
    display: block;/*damit dehnt es sich zum rand*/
    max-width: 100%; /*Box soll sich bis zum margin dehnen */
}

.dropdown {
    position: relative;/*damit der dropdown mittig kommt*/
    display: inline-flexbox;/*Braucht es auch damit die Box hochspringt + damit der inhalt unter der box und nicht auf der box kommt*/
    margin-left: 5em; /*entfernung der box u des kontents vom rand */
    margin-right: 5em;
}

/*Inhalt innerhalb des  Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #533627;
    min-width: 10px;
    z-index: 20;
}

/*mousover für das dropdown*/
.dropdown-content a:hover {
    font-style: gray;
}

/*styles der schrift oben bei a:visited usw verändern! */
/* .dropdown:hover .dropdown-content {display: block;}  --> nur aktivieren, wenn man nicht klicken will*/
.dropdown:hover .dropbtn {
    background-color: grey;
}

.show {
    display: block;
}
/*Verknüpfung zum JS, damit funktioniert die Funktion mit dem Klicken */



/*HEADER*/
/* Container für den Text und das Bild */
.container {
    position: relative;
    text-align: center;
    color: black;
}

/* Bottom left text
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  } */

/* Top left text 
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }*/

/* Top right text 
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }*/

/*Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 1px;
    right: 2px;
    font-size: 12px;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    color: #b7c4b8;
 
  }

/* Centered text */
.centered {
    /*  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: #b7c4b8;
    text-shadow:
    -4px -4px 0 #1f410b,
    -4px -4px 0 #1f410b,
    -4px -4px 0 #1f410b,
    -4px -4px 0 #1f410b;
    font-weight: bold;
    background-color: transparent; */

    /* Schrift mit Schatten, versetzt*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 80px;
    color: #b7c4b8;
    text-shadow: 0 11.36px 8.896px #7c7878, 0 -1px 1px;
    letter-spacing: -4px;
    background-color: transparent;

}

.centered2 {

    /* Schrift mit Schatten, versetzt*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 80px;
    color: whitesmoke;
    text-shadow: 0 11.36px 8.896px #b7c4b8, 0 -1px 1px;
    letter-spacing: -4px;
    background-color: transparent;

}

.centered3 {

    /* Schrift mit Schatten, versetzt*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 80px;
    color: #1f410b;
    text-shadow: 0 11.36px 8.896px #576b59, 0 -1px 1px;
    letter-spacing: -4px;
    background-color: transparent;

}

/*https://codepen.io/namho/pen/jEaXra*/


/*Setup*/
html,
body {
  padding: 0;
  margin: 0;
}
html,
body,
#mapid {
  height: 100%;
  width: 100%;
}

/*Legende*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: left;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
