/* Formatierung nach Elementen  */
/* Überschriften */
h1 {
    color: #1f410b;
    text-align: center;
}

h2 {
    padding-top: 20px;
    color: #533627;
    text-align: center;
}

h3 {
    color: #1f410b;
    text-align: center;
    /* text-size + font ändern*/
}

p {
    /* wenn hier nicht section steht übernimmt es das auch für den text der anderen seite, das ist fast angenehmer, muss mans nur einmal einstellen */
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    font-style: normal;
    color: whitesmoke;
    font: blocksatz;
    /* wäre das das geliche wie text-align:center ? */
    padding-bottom: 20px;
    padding-right: 60px;
    padding-left: 60px;
}

/*definition Abschnitte */
section {
    width: 100%;
    height: auto;
    background-color: #7c7878;
}


footer {
    margin: auto;
    color: #1f410b;
    text-align: center;
}

/* Body */
body {
    max-width: 100%;
    /*banner und website auf full scrren */
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #7c7878;
}

/* Bannerfoto */
.banner {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Beschriftung Banner mit Quelle*/
figcaption {
    background-color: #576b59;
    color: #1f410b; /*gleiche wie der restl. hintergrund*/
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: right;
}

/* Formatierung Menüleiste!*/
header div, footer div {
    display: flex;
    float: 400em;
    margin-top: 1em;
    margin-bottom: 1em;
    vertical-align: auto;
    flex-wrap: nowrap;
    background-color: #576b59;    /*gleiche wie bei banner quelle */
    justify-content: space-around;
 

}

/*Farbe für Links zu den anderen Seiten*/
a:link,
a:visited {
    color: #b7c4b8;/*damit linkfarbe gleich bleibt auch beim anklicken */
}

#textmenu {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}


/* Fotoboxen */
.imageround {
    border-radius: 50%;
}

.flex {
    display: flex;
    flex-wrap: nowrap; /*alle sind in einer zeile */
    justify-content: space-around; /*elemente haben gleiche Abstände um sich herum */
}

.boxperson {
    float: 500em;
    margin: 1.0em;
    border: solid 1px #2f3a2e;
    /*Rahmen für die Box in denen Fotos sind --> Farbe noch ändern*/
    padding: 3em 3.5em;
    /*em??*/
    background-color: #576b59;
    vertical-align: auto;

}


/* Allgemeines */

/* Einrücken von Seitenrand! */
.mr-5 {
    margin-right: 3em;
}

.ml-5 {
    margin-left: 3em;
}


/* Auf andere Screens anpassen -- titelbild geht und text auhc - rest noch anpassen !!*/

@media screen and (max-width:900px) {
    main {
        max-width: 90%;
    }

    .boxperson {
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    header img .banner {
        width: 100vw;
    }
}


/* KARTENRAHMEN */
#maps {
    height: 500px;
    width: 70%;
    margin: auto;
    border: 1px solid #2f3a2e;}