/* Formatierung nach Elementen  */
/* Überschriften */
h1 {
    color: #1f410b;
    text-align: center;
}

h2 {
    padding-top: 20px;
    color: #533627;
    text-align: center;
}

h3 {
    color: #1f410b;
    text-align: center;
    /* text-size + font ändern*/
}
h4 { padding-left: 60px; color: #533627; font-size: 16pt;}
p, ul{
    /* wenn hier nicht section steht übernimmt es das auch für den text der anderen seite, das ist fast angenehmer, muss mans nur einmal einstellen */
    text-align: left; /*font: blocksatz hat nicht funktioniert, so gehts */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    font-style: normal;
    color: whitesmoke;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-left: 60px;
    hyphens: auto; /*automatische Silbentrennung, mit komischen trennungen.*/

}
ul { padding-left: 80px; }
/*definition Abschnitte braucht es das eig noch ??*/
section {
    width: 100%;
    height: auto;
    /* background-color: #7c7878; auskommentiert, weil sonst überlagert das teile der karte bzw. die layercontrol!*/ 
}


footer {
    margin: auto;
    color: #1f410b;
    text-align: center;
}

/* Body */
body {
    max-width: 100%; /*banner und website auf full screen */
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #7c7878;
}

/* Bannerfoto */
.banner {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Beschriftung Banner mit Quelle*/
figcaption {
    background-color: #576b59;
    color: #1f410b; /*gleiche wie der restl. hintergrund*/
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: right;
}

/* Formatierung Menüleiste!*/
header div, footer div { /*achtung wenn wir was fürs menü ändern dann müssen wir den footer hier rausnehmen*/
    display: flex;
    /*float: 400em; */
    margin-top: 1em;
    margin-bottom: 1em;
    vertical-align: auto;
    /*flex-wrap: nowrap;*/
    background-color: #576b59;    /*gleiche wie bei banner quelle */
    justify-content: space-around;
 

}

/*Farbe für Links zu den anderen Seiten & Quellen*/
a:link,
a:visited {
    color: #b7c4b8;/*damit linkfarbe gleich bleibt auch beim anklicken */
}
p a:link,
p a:visited
ul a:link,
ul a:visited { color: whitesmoke;}

#textmenu {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}


/* Fotoboxen */
.imageround {
    border-radius: 50%;
}

.flex {
    display: flex;
    flex-wrap: nowrap; /*alle sind in einer zeile */
    justify-content: space-around; /*elemente haben gleiche Abstände um sich herum */
}


.boxperson {
    /*float: 500em;*/
    margin: 1.0em;
    /*Rahmen für die Box in denen Fotos sind könnte man mit border einstellen border: solid 1px #2f3a2e */
    padding: 3em 3.5em;
    background-color: #576b59;
    vertical-align: auto;

}

.danke {
    display: flex;
    border-radius: 50%; /*bild wird "rund"*/
    margin: auto; /*bild wird mit display u margin zentriert */
}


/* Allgemeines */

/* Einrücken von Seitenrand! */
.mr-5 {
    margin-right: 3em;
}

.ml-5 {
    margin-left: 3em;
}

/* REGION KARTE */
#overviewmap {
    height: 500px;
    width: 70%;
    margin: auto;
    border: 1px solid #2f3a2e;
}
    
/* ERGEBNISSE KARTE */ /*könnte man e noc hvergrößern ??*/
#map {
    height: 500px;
    width: 70%;
    margin: auto;
    border: 1px solid #2f3a2e;}


/*Bildschirmeinstellung für kleinere Bildschirme */
@media screen and (max-width:900px) {
    /*bilder*/
    .danke {
        width: 100%;
    };
    header img .banner {
        width: 100vw;
    };

    /*Fotoboxen und Menu */
   .boxperson {
        flex-wrap: wrap;
        width: 100%;

    }
    #textmenu {
        flex-wrap:wrap;
        text-align:center;
        width: 100%;
    }
    .flex {
        flex-wrap:wrap;
        margin: auto;
        width: 90%;
    }
    /*text*/
    /* p text sollte angepasst werden -> mit Blocksatz zu große Löcher im Text bei Handy */
    body p {
        padding-left: 10mm;
        padding-right: 10mm;

    }
    /*Karten */
    #map, #overviewmap {
       width: 90%;
       margin: center;
    }
}

@media screen and (max-width: 1280px) {
    header img .banner {
        width: 100vw;
    }
}



/*Dropdown Button für Quellenverzeichnis */
.dropbtn {
    max-width: 100%;
    background-color:#576b59; /* Farbe wie footer*/
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border: 1px solid;
    border-color: grey;
    text-align: center;
    padding-left: 50%; cursor: pointer;
    padding-right: 50%;
    /*display: inline-block;*/
 
}

.dropdown {
    position: relative;
    margin-left: 3em;
    margin-right: 3em;
}
/*INhalt innerhalb des  Dropdown */ 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #533627; /*#b7c4b8 */
    min-width: 10px;
    z-index: 20;
   
}
/*mousover für das dropdown*/
.dropdown-content a:hover {background-color: white;}
 /*.dropdown:hover .dropdown-content {display: block;} */
.dropdown:hover .dropbtn {background-color: grey;}

.show {display:block;}
